<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>毒鸡汤</title>
    <meta name="keywords" content="鸡汤,毒鸡汤,馊鸡汤">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta property="og:title" content="毒鸡汤 - 这碗先干为敬！" />
    <meta property="og:url" content="http://www.eien.fun/" />
    <meta property="og:image" content="http://www.eien.fun/icon.png" />
    <meta property="og:site_name" content="毒鸡汤 - 这碗先干为敬！" />
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <div class="top-wrap" style="position: absolute; top: 1vh;width: 100%;z-index: 999">
        <div class="container">
            <div class="row" style="margin-top: 30px;">
                
            </div>
        </div>
    </div>
    <div class="main-wrapper" style="position: relative; top: -6vh;">
        <div class="container main-sentence justify-content-center text-center">
            <span id="sentence" style="font-size: 2rem;">{{ soul }}</span>
        </div>
    </div>
    <div class="foot-1" style="position: absolute; bottom: 7vh;width: 100%;">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <span class="btn btn-primary btn-filled btn-xs"><a class="btn btn-primary btn-filled btn-xs"
                            href="https://www.eien.fun">www.eien.fun</a></span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>